<% provide(:title, t("help.title")) %>
<h1><%= t("help.cheering")%></h1>
<p>
  <%= t("help.description")%>
  <%= link_to t("help.helppage"), Settings.urls.help.help %></a>.
  <%= t("help.description2")%>
  <%= link_to t("help.tutorial"), Settings.urls.help.book %></a>.</em>
  <%= t("help.book")%></a>.
</p>
